@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
* {
  padding: 0px;
  margin: 0px;
  font-family: Montserrat;
}

.header-container {
  width: 100%;
  background-color: tomato;
  display: flex;
  justify-content: center;
}
.title {
  padding: 10px 0px;
}

.messages-container {
  padding: 20px;
}

.messages-list {
  padding: 50px;
}

li {
  list-style-type: decimal;
  list-style-image: inherit;
  margin: 20px 0px;
}

.adder-container {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.adder-box {
  display: flex;
  justify-content: center;
  color: black;
}

.note-input-field {
  width: 35%;
  height: 25px;
  border: none;
  background-color: #C2C2C2;
  border-radius: 4px;
  padding-left: 10px;
}

.note-input-field:focus {
  outline: none;
}

.add-btn {
  margin-left: 5px;
  width: 5%;
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 4px;
}

.add-btn:focus {
  outline: none;
}